@font-face {
  font-family: 'icon';
  src: url('icons.woff2?1') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Made with Fontello: http://fontello.com/ */
.icon-discord:before { content: '\e800'; }
.icon-facebook:before { content: '\e801'; }
.icon-github:before { content: '\e802'; }
.icon-hexagon:before { content: '\e803'; }
.icon-hexnet:before { content: '\e804'; }
.icon-hexular:before { content: '\e805'; }
.icon-instagram:before { content: '\e806'; }
.icon-menu-left:before { content: '\e807'; }
.icon-menu-right:before { content: '\e808'; }
.icon-minhalma:before { content: '\e809'; }
.icon-reddit:before { content: '\e80a'; }
.icon-thingiverse:before { content: '\e80b'; }
.icon-tshirt:before { content: '\e80c'; }
.icon-tumblr:before { content: '\e80d'; }
.icon-twitter:before { content: '\e80e'; }
.icon-youtube:before { content: '\e80f'; }

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  position: relative;
  font-family: 'DejaVu Sans Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Noto Mono', monospace;
  font-size: 20px;
  background: #fffcfa;
  color: #333;
}

body {
  position: relative;
  background: #fff;
  color: #333;
}

a, a::before {
  color: inherit;
  text-decoration: none;
  transition: all 333ms;
}

a:hover {
  color: #fb3;
}

body.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 42rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto auto;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1;
}

.logo {
  width: 10rem;
  height: auto;
  margin: 1rem;
}

p, ul, ol {
  line-height: 1.5rem;
  margin: 1rem 0;
  text-align: justify;
}

ul.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  font-size: 2em;
}

ul.links li {
  flex: 0 1 auto;
  margin: 1rem;
  padding: 0;
  text-align: center;
}

ul.links li a:hover::before {
  transform: scale(1.2);
}

footer {
  margin-top: auto;
}

footer ul.links {
  justify-content: space-between;
  font-size: 1em;
}

footer ul.links li {
  margin: 1rem 0;
}


@media screen and (max-height: 720px) {
  html { font-size: 2.777vh; }
}

@media screen and (max-width: 500px) {
  html { font-size: 4vw; }
}

@media screen and (max-width: 250px) {
  html { font-size: 10px; }
}
