@font-face {
  font-family: 'montserrat';
  src: url('vendor/montserrat-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon';
  src: url('vendor/icons.woff2?v=20200920') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smaller::before {
  transform: scale(0.9);
}

/* Made with Fontello: http://fontello.com/ */
.icon-bandcamp:before { content: '\e800'; }
.icon-discord:before { content: '\e801'; }
.icon-email:before { content: '\e802'; }
.icon-ethereum:before { content: '\e803'; }
.icon-facebook:before { content: '\e804'; }
.icon-github:before { content: '\e805'; }
.icon-hexagon:before { content: '\e806'; }
.icon-hexnet:before { content: '\e807'; }
.icon-hexstar:before { content: '\e808'; }
.icon-hexular:before { content: '\e809'; }
.icon-instagram:before { content: '\e80a'; }
.icon-linkedin:before { content: '\e80b'; }
.icon-mail-hex:before { content: '\e80c'; }
.icon-menu-left:before { content: '\e80d'; }
.icon-menu-right:before { content: '\e80e'; }
.icon-minhalma:before { content: '\e80f'; }
.icon-opensea:before { content: '\e810'; }
.icon-patreon:before { content: '\e811'; }
.icon-podcast:before { content: '\e812'; }
.icon-reddit:before { content: '\e813'; }
.icon-soundcloud:before { content: '\e814'; }
.icon-sr:before { content: '\e815'; }
.icon-thingiverse:before { content: '\e816'; }
.icon-tshirt:before { content: '\e817'; }
.icon-tumblr:before { content: '\e818'; }
.icon-twitch:before { content: '\e819'; }
.icon-twitter:before { content: '\e81a'; }
.icon-vimeo:before { content: '\e81b'; }
.icon-youtube:before { content: '\e81c'; }

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));
  scroll-snap-type: y mandatory;
}

html {
  position: relative;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', Arial, 'FreeSans', 'DejaVu Sans', sans-serif;
  font-size: 20px;
  background: #fffcfa;
  color: #1f1f1f;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #fff;
  color: #1f1f1f;
  overflow:;
}

header, footer {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  top: 0em;
  height: 1em;
  background: #fff;
}

footer {
  bottom: 0;
  height: 2.5rem;
  background: #555;
  color: #fff;
}

header button {
  background-color: #aaa;
  cursor: pointer;
  margin: 0 0.25em;
  width: 2em;
  height: 0.125em;
  font-size: 1em;
  border-radius: 1em;
  transition: background-color 333ms;
}

header button.active {
  background-color: #1f1f1f;
}

footer ul.links {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.8em;
}

footer ul.links li {
  margin: 0;
}

.parallax {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.parallax img, .parallax video, .parallax canvas {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

article {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0.75rem 0 2.5rem 0;
}

section {
  width: 100%;
  max-width: 48rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.narrow {
  max-width: 36rem;
}

.block {
  position: relative;
  width: 100%;
  flex: 1 1 50%;
  background: #fff;
}

.block.window {
  background: transparent;
}

a, a::before {
  color: inherit;
  text-decoration: none;
  transition: all 333ms;
}

.larger {
  font-size: 1.2em;
}

.smaller {
  font-size: 0.8em;
}

.mono {
  font-family: 'DejaVu Sans Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Noto Mono', monospace;
}

.alert {
  z-index: 100;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 333ms;
}

.alert.active {
  opacity: 1;
  pointer-events: auto;
}

.alert div {
  background: #abd037;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  border-radius: 4rem;
  padding: 0 2rem;
  cursor: pointer;
}

.pad {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
}

.block:first-child {
  flex: 1 2 50%;
}

.block:last-child {
  flex: 1 1 50%;
}

.start, .end, .center {
  margin-top: 0;
  margin-bottom: 0;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

img.logo {
  display: block;
  margin: auto;
  width: 10rem;
}

p, ul, ol {
  line-height: 2rem;
  margin: 1rem 0;
  padding: 0;
  hyphens: auto;
  list-style-type: none;
}

p {
  text-align: justify;
}

.spacer {
  height: 1rem;
}

.text-center, .text-center p {
  text-align: center;
}

p .part {
  display: inline-block;
}

ul.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1;
}

ul.links li {
  flex: 0 1 auto;
  margin: 1rem;
  padding: 0;
  text-align: center;
}

.lowercase {
  text-transform: lowercase;
}

.q {
  color: #aaa;
  font-family: serif;
  line-height: 0;
  font-size: 2rem;
}

.columns {
  column-count: 3;
  column-gap: 2em;
}

.nowrap {
  white-space: nowrap;
}

a:active, button:active {
  color: #fb3;
}
header button:active {
  background-color: #fb3;
}
ul.links li a:active::before {
  transform: scale(1.2);
}

@media (hover: hover) {
  /* sweet merciful crap I hate CSS */
  a:hover, button:hover {
    color: #fb3;
  }
  header button:hover {
    background-color: #fb3;
  }
  ul.links li a:hover::before {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 2000px) {
  html { font-size: 1vw; }
}

@media screen and (max-width: 799px) {
  .hide-800 { display: none; }
}

@media screen and (max-width: 839px) {
  .columns { column-count: 2; }
}

@media screen and (max-height: 719px) {
  html { font-size: 2.777vh; }
}

@media screen and (max-width: 719px) {
  html { font-size: 2.777vw; }
}

@media screen and (max-height: 719px) and (max-width: 719px) {
  html { font-size: (2.777vh + 2.777vw) / 2; }
  html { font-size: min(2.777vh, 2.777vw); }
}

@media screen and (max-height: 359px) {
  html { font-size: 10px; }
}

@media screen and (max-width: 359px) {
  .hide-360 { display: none; }
  html { font-size: 10px; }
/*  .columns { column-count: 1; }*/
  .columns i { display: none; }
  .flex-360 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto auto;
  }
  footer ul.links {
    justify-content: center;
  }
  footer ul.links li {
    flex: 1 1 2em;
  }
}

@media screen and (max-width: 249px) {
  html { font-size: 10px; }
}
