* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));
  scroll-snap-type: y mandatory;
}

html {
  position: relative;
  font-family: $sans;
  font-size: $rem;
  background: #fffcfa;
  color: #1f1f1f;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #fff;
  color: #1f1f1f;
}

ul, ol {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  max-width: 40rem;
}

.pad-h {
  padding-left: 4rem;
  padding-right: 4rem;
}
.pad-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad {
  padding: 1rem 4rem;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
}

header, footer {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &.scroll-tabs {
      top: 0;
      font-size: 1rem;
      height: 1em;
      background: #fff;
      button {
        background-color: #9f9f9f;
        cursor: pointer;
        margin: 0 0.25em;
        width: 2em;
        height: max(0.1em, 2px);
        font-size: 1em;
        border-radius: 1em;
        transition: background-color $t-short;
        &.active {
          background-color: #1f1f1f;
        }
      } 
    }
    &.nav-footer {
      background: $nav-bg;
      font-size: max(0.75rem, calc(100vh / 96));
      height: max(2rem, calc(100vh / 24));
      background: #1f1f1f;
      color: #fff;
      ul.links {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          margin: 0;
        }
      }
    }
  }
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.parallax {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.parallax img, .parallax video, .parallax canvas {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.scroll-block {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0 0 2rem 0;
}

.block {
  position: relative;
  width: 100%;
  flex: 1 1 content;
  background: #fff;
  &:first-child {
    flex: 1 2 100%;
  }
  &:last-child {
    flex: 1 1 content;
  }
  &.window {
    background: transparent;
  }
}

a, a::before {
  color: inherit;
  text-decoration: none;
  transition: all $t-short;
}

sup {
  vertical-align: top;
}

.larger {
  font-size: 1.33333em;
}

.smaller {
  font-size: 0.75em;
}

.mono {
  font-family: $mono;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.start, .end, .center {
  margin-top: 0;
  margin-bottom: 0;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 200;
  font-size: 2rem;
  font-family: roboto-mono;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  b {
    font-weight: 400;
  }
}

img.logo {
  display: block;
  margin: auto;
  width: 6rem;
}

section {
  p, ul, ol {
    font-size: calc(5rem / 6);
    line-height: 2rem;
    margin: 1rem 0;
    padding: 0;
    hyphens: auto;
    a {
      border-bottom:  1px dotted #9f9f9f;
    }
  }
}

p {
  text-align: justify;
}

.spacer {
  height: 1rem;
}

.text-center, .text-center p {
  text-align: center;
}

p .part {
  display: inline-block;
}

ul.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul.links li {
  flex: 0 1 auto;
  margin: 1em;
  padding: 0;
  text-align: center;
}

.lowercase {
  text-transform: lowercase;
}

.q {
  color: #aaa;
  font-family: serif;
  line-height: 0;
  font-size: 2rem;
}

.columns {
  column-count: 3;
  column-gap: 2em;
}

.nowrap {
  white-space: nowrap;
}

a:active, button:active {
  color: #fb3;
}
header button:active {
  background-color: #fb3;
}
ul.links li a:active::before {
  transform: scale(1.5);
}

@media (hover: hover) {
  /* sweet merciful crap I hate CSS */
  a:hover, button:hover {
    color: #fb3;
  }
  header button:hover {
    background-color: #fb3;
  }
  ul.links li a:hover::before {
    transform: scale(1.5);
  }
}

@media screen {
  @media (min-aspect-ratio: 3/4) {
    html { font-size: calc(24 / 960 * 100vh); }
  }
  @media (max-aspect-ratio: 3/4) {
    html { font-size: calc(24 / 720 * 100vw); }
  }
}
