* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

:root {
  color-scheme: only light;
}

html {
  width: 100%;
  height: 100%;

}

html {
  position: relative;
  font-family: $sans;
  font-size: $rem;

  @media screen {
    @media (min-aspect-ratio: 3/4) {
      font-size: calc(24 / 960 * 100vh);
    }
    @media (max-aspect-ratio: 3/4) {
      font-size: calc(24 / 720 * 100vw);
    }
  }
  scroll-snap-type: y mandatory;
  overscroll-behavior: none;
  scroll-behavior: smooth; // This doesn't seem to do a goddamn thing in any browser?
  scroll-margin: 0;
  scroll-padding: 0;
  scroll-padding-block: 0;
}

body {
  position: relative;
  background: $body-bg-light;
  color: $body-fg-light;
  @include dark {
    background: $body-bg-dark;
    color: $body-fg-dark;
  }
}

a, a::before, button {
  color: inherit;
  text-decoration: none;
  transition: all $t-short;
}
// Why aren't these working when nested with &: above???
a:active, a:hover {
  color: #fb3;
  @media (hover: hover) {
    color: #fb3;
  }
}

button {
  background: transparent;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
}

.flex-break, ul li.flex-break {
  flex: 1 0 100% !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper {
  width: 100%;
  max-width: 40rem;
}

.pad-h {
  padding-left: 3rem;
  padding-right: 3rem;
}
.pad-v {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad {
  padding: 1rem 3rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-3 {
  padding: 3rem;
}

.pad-4 {
  padding: 4rem;
}

.flex {
  @include flex(column, space-between, center);
  margin: auto auto;
  .row {
    flex-direction: row;
  }
}

.header, .footer {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $nav-bg;
    color: $nav-fg;
    &.scroll-tabs {
      top: 0;
      font-size: 1rem;
      height: 1rem;
      .scroll-tab {
        @include flex;
        width: 3em;
        height: 100%;
        background: transparent;
        cursor: pointer;
        .scroll-tab-inner {
          background: #888;
          margin: 0 0.5em;
          width: 2em;
          height: max(1px, calc(1em / 12));
          font-size: 1em;
          border-radius: 1em;
          transition: background $t-short;
        }
        &.active .scroll-tab-inner {
          background: $nav-fg !important;
        }
        @media (hover: hover) {
          &:hover .scroll-tab-inner {
            background: $link-fg;
          }
        }
      }
    }
    &.nav-footer {
      font-size: 1rem;
      height: 2rem;
      ul.links {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          margin: 0;
          a:active::before, {
            transform: scale(1.5);
          }
        }

      }
    }
  }
}

.header {
  top: 0;
  .controls {
    @include flex(column);
    position: absolute;
    left: 0.2rem;
    top: 0;
    bottom: 0;
    // width: 
    color: #fff;
    &.hidden {
      opacity: 0;
    }
    transition: opacity $t-short;
    .counter {
      font-family: $mono;
      font-size: 0.6rem;
    }
  }
}

.footer {
  bottom: 0;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

canvas {
  display: block;
  &.hidden {
    opacity: 0;
  }
}

.scroll-block {
  scroll-snap-stop: always;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0; //1rem 0 2rem 0;
}

.block {
  position: relative;
  width: 100%;
  flex: 1 1 content;
  background: $body-bg-light;
  @include dark { background: $body-bg-dark; }
  &:first-child {
    flex: 1 2 100%;
    // z-index: 50;
  }
  &:last-child {
    flex: 1 1 content;
    // z-index: 100;
  }
  &.title {
    background: $nav-bg;
    color: $nav-fg;
    @include flex(column);
    .title-block {
      flex: 0 2 100%;
      height: 100%;
      @include flex(column);
      &.start {
        justify-content: flex-start;
      }
      &.end {
        justify-content: flex-end;
      }
    }
    .title-logo {
      position: relative;
      width: 6rem;
      flex: 0 0 6rem;
      .logo {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        &.transition {
          transition: opacity $t-short;
        }
        &.hide {
          opacity: 0;
        }
      }
    }
    .title-text {
      margin: 2rem 0;
      @include flex(row);
      h1 {
        position: relative;
        @include flex(row);
        user-select: none;
        font-size: inherit;
        font-weight: 200;
        font-size: 2rem;
        font-family: $mono;
        text-transform: uppercase;
        letter-spacing: 0;
        span {
          width: 1em;
          transition: all $t-short;
          &.hidden {
            transform: rotateY(90deg);
            opacity: 0;
          }
        }
        &::after {
          position: absolute;
          right: -1em;
          width: 1em;
          top: 0;
          content: '_';
          animation-name: blink;
          animation-duration: 1s;
          animation-iteration-count: infinite;
        }
        &.t0::after { transform: translateX(-12em); }
        &.t1::after { transform: translateX(-11em); }
        &.t2::after { transform: translateX(-10em); }
        &.t3::after { transform: translateX(-9em); }
        &.t4::after { transform: translateX(-8em); }
        &.t5::after { transform: translateX(-7em); }
        &.t6::after { transform: translateX(-6em); }
        &.t7::after { transform: translateX(-5em); }
        &.t8::after { transform: translateX(-4em); }
        &.t9::after { transform: translateX(-3em); }
        &.t10::after { transform: translateX(-2em); }
        &.t11::after { transform: translateX(-1em); }
      }
    }

    ul.title-links {
      li {
        margin: 0 1em;
      }
      a {
        border: 0;
      }
    }
  }
  &.window {
    background: transparent;
    @include flex;
    overflow: hidden;
  }
  &.content {
    @include flex(column, space-between, center);
    padding: 1rem 4rem 3rem 4rem;
  }
}

.abs-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

sup {
  vertical-align: top;
}

.larger {
  font-size: 1.33333em;
}

.smaller {
  font-size: 0.75em;
}

.mono {
  font-family: $mono;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.start, .end, .center {
  margin-top: 0;
  margin-bottom: 0;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

@keyframes blink {
  0% { opacity: 1; }
  20% { opacity: 1; }
  25% { opacity: 0; }
  70% { opacity: 0; }
  75% { opacity: 1; }
}

section {
  p, ul, ol {
    font-size: calc(5rem / 6);
    line-height: 2rem;
    margin: 1rem 0;
    padding: 0;
    hyphens: auto;
    a {
      border-bottom:  1px dotted #9f9f9f;
    }
  }
  ul.autohex {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  ul.big-hex {
    @include flex(row);
    flex-wrap: wrap;
    gap: calc(2rem * 0.866) 2rem;
    margin: 0;
    padding: calc(6rem * 1.1547 * 0.125) 0;
    li {
      display: block;
      margin: calc(-6rem * 1.1547 * 0.125) 0;
      width: 6rem;
      @include hex(true);
      overflow: hidden;
      backface-visibility: hidden;
      background: $body-bg-light;
      @include dark { background: $body-bg-dark; }
      text-align: center;
      transition: all $t-short;
      &:hover {
        transform: scale(1.17);
      }
      a {
        @include flex;
        width: 100%;
        height: 100%;
        margin: auto;
        border: none;
        i {
          display: block;
          font-size: 2rem;
        }
        span {
          display: block;
          height: 1em;
          line-height: 1;
        }
      }
    }
  }
}

.opaque-box {
  @include flex;
  background: $body-bg-light;
  @include dark { background: $body-bg-dark; }
}

.translucent-box {
  @include flex;
  background: $body-trans-light;
  @include dark { background: $body-trans-dark; }
  margin: auto;
}

.control-block {
  @include flex(row);
  padding: 0 4rem;
  background: $nav-bg;
  color: $nav-fg;
  line-height: 3rem;
  gap: 1rem;
  .wrapper {
    justify-content: space-between;

  }
  a {
    text-align: center;
    flex: 1 0 50%;
  }
  button {
    line-height: 3rem;
    flex: 0 1;
    span {
      display: block;
      transform: rotate(90deg);
    }
    &:hover {
      color: $link-fg
    }
  }
}

button.button-touch {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  &.touch-left {
    left: 0;
  }
  &.touch-right {
    right: 0;
  }
}

.video-outer {
  .video-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $nav-bg;
    transition: opacity $t-long;
    &.hidden {
      opacity: 0;
    }
    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      cursor: pointer;
      opacity: 0;
      transition: opacity $t-long;
      &.active {
        opacity: 1;
      }
    }
  }
}

.contain-w {
  @include flex(column, center, center);
  flex: 0 1 100%;
  margin: auto;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

.contain-h {
  @include flex(row, center, center);
  flex: 0 1 100%;
  margin: auto;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

svg {
  fill: #fff;
}
p {
  text-align: justify;
}

.spacer {
  height: 1rem;
}

.text-center, .text-center p {
  text-align: center;
}

p .part {
  display: inline-block;
}

ul.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  line-height: 1;
  li {
    flex: 0 1 auto;
    margin: 1em;
    padding: 0;
    text-align: center;
    a:hover::before {
      transform: scale(1.5);
    }
  }
}

.lowercase {
  text-transform: lowercase;
}

.q {
  color: #aaa;
  font-family: serif;
  line-height: 0;
  font-size: 2rem;
}

.columns {
  column-count: 3;
  column-gap: 2em;
}

.nowrap {
  white-space: nowrap;
}
